# Data files: you should download these yourself; see README.md for instructions
data/*

# IDE related
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.coverage
htmlcov/
